@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
     --color: #ff4800;
     --arrow: #0044ff;
     --text: #000000;
     --bg: #ffffff;


     /* Тимчасові змінні */
     --color-light: white;
     --color-dark: #212121;
     --color-signal: #fab700;
     
     --color-background: var(--color-light);
     --color-text: var(--color-dark);
     --color-accent: var(--color-signal);
     
     --size-bezel: .5rem;
     --size-radius: 4px;
     

     font-size: 20px;
}

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     font-family: 'Inter', sans-serif;
     font-size: 1rem;
     min-height: 100vh;
     min-width: 100vw;
     position: relative;
}


.wrap {
     height: 1500px;
     width: 100%;
     background-color: blue;
}

.interactive {
     height: 1400px;
     width: 100%;
     background-color: white;
     position: relative;
     top: 0;
     left: 0;
}

.info {
     font-size: 0.8rem;
     position: absolute;
     top: 10%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 95%;
     max-width: 450px;
}

.problems {
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 90%;
     max-width: 450px ;
}

.problem {
     display: inline-block;
     font-size: 0.8rem;
     width: 85%;
     max-width: 450px;
     height: 50px;
     background-color:#fff8f8;
     border: 2px solid red;
     margin: 10px auto;
     padding: 12px;
}

.box {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     max-width: 450px;
     height: 50px;
}

.box-input {
     display: inline-block;
     width: 95%;
     max-width: 450px;
     height: 100px;
     border: 3px dashed black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.box-info {
     font-size: 0.7rem;
     font-weight: 300;
     font-style: italic;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 80%;
     display: inline-block;
     text-align: center;
}


.solutions {
     position: absolute;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     max-width: 500px;
     margin: 10px;
     font-size: 0.8rem;
}
.solution-tip {
     margin-top: 5px;
}

.solution-tips ul {
     list-style-type: none;
}

.tip-arrow {
     color: var(--arrow) ;
}

.modal-wrap {
     height: 500px;
     width: 100%;
     background-color: lightblue;
     position: relative;
}


.modal {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(0);
     transition: all 200ms ease-in-out;
     z-index: 10;
     width: 500px;
     max-width: 80%;
     
     
     background-color: white;
     border: 3px solid var(--color-shadow, currentColor);
     border-radius: var(--size-radius);
     box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);

}

.modal.active {
     transform: translate(-50%, -50%) scale(1);
}

.modal-header {
     padding: 10px 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid black;
}

.modal-header .close-button {
     cursor: pointer;
     border: none;
     outline: none;
     background: none;
     font-size: 1.5rem;
     font-weight: bold;
}

.modal-body {
     padding: 45px 15px;
     height: 250px;
}

#overlay {
     position: fixed;
     opacity: 0;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(56, 163, 250, 0.5);
     pointer-events: none;
     transition: all 200ms ease-in-out;
}

#overlay.active {
     opacity: 1;
     pointer-events: all;
}

.modal-header .title {
     font-size: 1.2rem;
     font-weight: 600;
}

.modal-btn {
     height: 50px;
     width: 250px;
     font-family: 'Inter', sans-serif;
     font-size: 1rem;
     color: black;
     background-color: white;
     border: 3px solid var(--color);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.modal-btn:hover {
     color: white;
     background-color: var(--color);
     border: 3px solid var(--color);
}

.modal-card {
     width: 90%;
}


.input {
     position: relative;
}

.input-label {
     position: absolute;
     left: 0;
     top: 0;
     padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
     margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
     background: pink;
     white-space: nowrap;
     transform: translate(0, 0);
     transform-origin: 0 0;
     background: var(--color-background);
     transition: transform 120ms ease-in;
     font-weight: bold;
     line-height: 1.2;
}
 
.input-field {
     box-sizing: border-box;
     display: block;
     width: 100%;
     border: 3px solid currentColor;
     padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
     color: currentColor;
     background: transparent;
     border-radius: var(--size-radius);
     font-family: "Inter", sans-serif;
     font-size: 0.8rem;
     font-weight: 400;
}

/* .input-field:focus, .input-field:not(:placeholder-shown) + .input-label {
     transform: translate(.25rem, -65%) scale(.8);
     color: var(--color-accent);
} */

.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label {
     transform: translate(0.25rem, -65%) scale(0.8);
     color: var(--color-accent);
}





/*   Змінні стилі  */

.solutions-hide {
     visibility: hidden;
     transition: all 0.1s ease;
}



@media screen and (min-width: 600px){


}


@media (prefers-color-scheme: dark) {
     
     :root {
          --color: #0e46ff;
          --text: #ffffff;
          --bg: #0f0f0f;
     }

}